$yellowLight: #ffebad;
$yellow: #ffdb4d;
$yellowDark: #ffab4d;

/**
 * App Colors
 */
$AppColorLight: $yellowLight;
$AppColor: $yellow;
$AppColorDark: $yellowDark;

$greyLight: #eee;
$grey: #bbb;
$greyDark: #777;