/* fonts */
  $appFont: 'Roboto', sans-serif;
  $headersFont: 'Bree Serif', serif;
/* fonts - end */

/* box-shadows */
  $boxShad : 0 0 4px 1px rgba(0,0,0, .15);
/* box-shadows - end */

/* sizes */
  $standartSize: 15px;
/* sizes - end */