<div class="container">
  <div class="simpleBox">
    <h2 class="pageTitle"> Create an Account </h2>

    <h3 class="simpleLabel"> Input your mobile phone number to register </h3>

    <label class="titledInput Input--noBorder marginBottom2x">
      <input class="titledInput-input" type="text" required
      >
        <!-- [(ngModel)]="userToWrite.phone_number" -->
      <span class="titledInput-title"> Phone Number </span>
    </label>

    <button class="_btn _btn--big _btn--inverse"> Register </button>
  </div>
</div>
