/* Global Styles */

@import './app/scss/global-styles.vendor.scss';

body {
    font-family: $appFont;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f2f2f2;
}

html, body { height: 100% }

@media (max-width: 575px) {
    body { background-size: 300% 100% }
}

* {
    box-sizing: border-box;
}